body{
    background: white;
    color: black;
    }
h1{
    color: #25468e;
    text-align: center;
    
}

.izq{
    display: block;
    height: 95px;
    width: 200px;
    
}
.center{

    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.der{
    display: block;
    height: 95px;
    width: 200px;
    text-align: right;
    

}

.line-1 {
    height: 2px;
    background: black;
  }
  
